*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* inizio header */

header{
    background-color: rgb(173, 216, 230);
    max-width: 2400px;
    padding-top: 15px;
}

nav{
    background-color: rgb(218, 165, 32);
    max-width: 1600px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.logo{
    width: 25%;
}

.login{
    width: 25%; 
    text-align: end;
}

.link{
    width: 50%;
    text-align: center;
}

.contenitoreheader{
    background-color: rgb(0, 0, 139);
    width: 100%;
    padding: 30px;

}

.purple{
    background-color: rgb(238, 130, 238);
    max-width: 50%;
    min-height: 400px;
    margin: auto;
}

/* fine header */
/* inizio main row uno */

.row{
    max-width: 2400px;
    padding: 30px;
}

.uno{
    background-color: white;
}

.blocco{
    max-width: 1600px;
    margin: auto;
    display: flex;
}

.left{
    width: 70%;
    min-height: 500px;
    background-color: rgb(30, 144, 255);
}

.right{
    width: 30%;
    min-height: 500px;
    background-color:rgb(255, 192, 203);
}

/* fine row uno */
/* inizio row due */

.due{
    background-color: rgb(211, 211, 211);
}

.reverse{
    flex-direction: row-reverse;
}

/* fine row due */
/* row finale */

.verde{
    min-height: 1000px;
    background-color: green;
}

/* fine main */
/* inzio aside */

aside{
    background-color:rgb(35, 39, 42);
    padding-top: 5px;
    padding-bottom: 25px;
    border-bottom: 1px solid white;
}

#sideleft{
    width: 30%;
    min-height: 600px;
    background-color:rgb(240, 128, 128) ;
}

#sideright{
    width: 70%;
    min-height: 600px;
    background-color:rgb(32, 178, 170) ;
    display: flex;
}

.colonna{
    width: 25%;
    min-height: 100%;
}

/* fine aside */
/* inizio footer */

footer{
    background-color:rgb(35, 39, 42);
    padding-top: 20px;
}

.final{
    max-width: 1600px;
    background-color:rgb(127, 255, 212) ;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}