*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* inizio header */



header{
    background-color: rgb(36, 129, 129);
    width: 100vw;
    padding-top: 15px;
}

nav{
    background-color: orange;
    max-width: 1600px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.logo{
    width: 25%;
}

.login{
    width: 25%; 
    text-align: end;
}

.link{
    width: 50%;
    text-align: center;
}

.contenitoreheader{
    background-color: blue;
    width: 100%;
    padding: 30px;

}

.purple{
    background-color: plum;
    max-width: 50%;
    height: 400px;
    margin: auto;
}